Part 1: Data Cleaning and Exploration

Load the dataset. Check the first 5 rows.

In [22]:
import pandas as pd

In [3]:
df = pd.read_csv("crime_data.csv")
print(df.head(5))

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  241711715  08/01/2024 12:00:00 AM  08/01/2024 12:00:00 AM      1319    17
1  231014031  09/21/2023 12:00:00 AM  09/15/2023 12:00:00 AM      1930    10
2  231010808  06/27/2023 12:00:00 AM  06/26/2023 12:00:00 AM      1230    10
3  211410441  04/25/2021 12:00:00 AM  04/25/2021 12:00:00 AM      2330    14
4  211114569  10/25/2021 12:00:00 AM  10/25/2021 12:00:00 AM      1455    11

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Devonshire         1791         1     440
1  West Valley         1011         2     354
2  West Valley         1015         2     354
3      Pacific         1488         2     626
4    Northeast         1123         1     210

                          Crm Cd Desc  ... Status  Status Desc Crm Cd 1  \
0  THEFT PLAIN - PETTY ($950 & UNDER)  ...     IC  Invest Cont    440.0
1                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
2                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
3   INTIMATE PARTNER - SIMPLE ASSAULT  ...     IC  Invest Cont    626.0
4                             ROBBERY  ...     IC  Invest Cont    210.0

  Crm Cd 2  Crm Cd 3 Crm Cd 4                                  LOCATION  \
0      NaN       NaN      NaN   8300    KELVIN                       AV
1      NaN       NaN      NaN  18900    CANTLAY                      ST
2      NaN       NaN      NaN   7300    ENFIELD                      AV
3      NaN       NaN      NaN   5800 W  CENTURY                      BL
4      NaN       NaN      NaN   2900    LOS FELIZ                    BL

  Cross Street      LAT       LON
0          NaN  34.2200 -118.5863
1          NaN  34.2023 -118.5458
2          NaN  34.2033 -118.5241
3          NaN  33.9456 -118.3835
4          NaN   0.0000    0.0000

[5 rows x 28 columns]

Identify columns with missing values and their respective counts. Drop columns where more than
50% of the data is missing (store this version as a new dataset).

In [4]:
missing_counts = df.isnull().sum()
print(missing_counts[missing_counts > 0])

threshold = len(df) * 0.5
new_df = df.dropna(axis=1, thresh=threshold)

print(new_df.info())

Mocodes            7498
Vict Sex           7163
Vict Descent       7165
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
Cross Street      42258
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DR_NO         50000 non-null  int64
 1   Date Rptd     50000 non-null  object
 2   DATE OCC      50000 non-null  object
 3   TIME OCC      50000 non-null  int64
 4   AREA          50000 non-null  int64
 5   AREA NAME     50000 non-null  object
 6   Rpt Dist No   50000 non-null  int64
 7   Part 1-2      50000 non-null  int64
 8   Crm Cd        50000 non-null  int64
 9   Crm Cd Desc   50000 non-null  object
 10  Mocodes       42502 non-null  object
 11  Vict Age      50000 non-null  int64
 12  Vict Sex      42837 non-null  object
 13  Vict Descent  42835 non-null  object
 14  Premis Cd     50000 non-null  float64
 15  Premis Desc   49971 non-null  object
 16  Status        50000 non-null  object
 17  Status Desc   50000 non-null  object
 18  Crm Cd 1      49998 non-null  float64
 19  LOCATION      50000 non-null  object
 20  LAT           50000 non-null  float64
 21  LON           50000 non-null  float64
dtypes: float64(4), int64(7), object(11)
memory usage: 8.4+ MB
None

Convert the DATE OCC column to a datetime format. Extract the year, month, and day into separate
columns. Create a new column for the hour using the TIME OCC column.

In [14]:
new_df['DATE OCC'] = pd.to_datetime(df['DATE OCC'], format="%m/%d/%Y %I:%M:%S %p")

new_df['Year'] = new_df['DATE OCC'].dt.year
new_df['Month'] = new_df['DATE OCC'].dt.month
new_df['Day'] = new_df['DATE OCC'].dt.day

new_df['Hour'] = new_df['TIME OCC'].astype(str).str.zfill(4).str[:2].astype(int)

print(new_df.head())

       DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA    AREA NAME  \
0  241711715  08/01/2024 12:00:00 AM 2024-08-01      1319    17   Devonshire
1  231014031  09/21/2023 12:00:00 AM 2023-09-15      1930    10  West Valley
2  231010808  06/27/2023 12:00:00 AM 2023-06-26      1230    10  West Valley
3  211410441  04/25/2021 12:00:00 AM 2021-04-25      2330    14      Pacific
4  211114569  10/25/2021 12:00:00 AM 2021-10-25      1455    11    Northeast

   Rpt Dist No  Part 1-2  Crm Cd                         Crm Cd Desc  ...  \
0         1791         1     440  THEFT PLAIN - PETTY ($950 & UNDER)  ...
1         1011         2     354                   THEFT OF IDENTITY  ...
2         1015         2     354                   THEFT OF IDENTITY  ...
3         1488         2     626   INTIMATE PARTNER - SIMPLE ASSAULT  ...
4         1123         1     210                             ROBBERY  ...

  Status  Status Desc Crm Cd 1                                  LOCATION  \
0     IC  Invest Cont    440.0   8300    KELVIN                       AV
1     IC  Invest Cont    354.0  18900    CANTLAY                      ST
2     IC  Invest Cont    354.0   7300    ENFIELD                      AV
3     IC  Invest Cont    626.0   5800 W  CENTURY                      BL
4     IC  Invest Cont    210.0   2900    LOS FELIZ                    BL

       LAT       LON  Year Month  Day Hour
0  34.2200 -118.5863  2024     8    1   13
1  34.2023 -118.5458  2023     9   15   19
2  34.2033 -118.5241  2023     6   26   12
3  33.9456 -118.3835  2021     4   25   23
4   0.0000    0.0000  2021    10   25   14

[5 rows x 26 columns]

/var/folders/_1/__pt4n2j34s904855v8cbgkr0000gn/T/ipykernel_10320/2759359030.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['DATE OCC'] = pd.to_datetime(df['DATE OCC'], format="%m/%d/%Y %I:%M:%S %p", errors='coerce')
/var/folders/_1/__pt4n2j34s904855v8cbgkr0000gn/T/ipykernel_10320/2759359030.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Year'] = new_df['DATE OCC'].dt.year
/var/folders/_1/__pt4n2j34s904855v8cbgkr0000gn/T/ipykernel_10320/2759359030.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Month'] = new_df['DATE OCC'].dt.month
/var/folders/_1/__pt4n2j34s904855v8cbgkr0000gn/T/ipykernel_10320/2759359030.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Day'] = new_df['DATE OCC'].dt.day
/var/folders/_1/__pt4n2j34s904855v8cbgkr0000gn/T/ipykernel_10320/2759359030.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Hour'] = new_df['TIME OCC'].astype(str).str.zfill(4).str[:2].astype(int)

Filter the dataset for crimes that occurred in 2023. Further filter crimes with the description
BURGLARY in the Crm Cd Desc column

In [ ]:
df_2023 = new_df[new_df['DATE OCC'].dt.year == 2023]

burglary_2023 = df_2023[df_2023['Crm Cd Desc'] == 'BURGLARY']

print(burglary_2023.head())

Group the data by AREA NAME and calculate the total number of crimes and the average victim age.
Sort the results by total crimes in descending order.

In [ ]:
area_stats = new_df.groupby('AREA NAME').agg(
    Total_Crimes=('DR_NO', 'count'),
    Avg_Victim_Age=('Vict Age', 'mean')
).reset_index()

area_stats = area_stats.sort_values(by='Total_Crimes', ascending=False)

print(area_stats.head())

Part 2: Further Exploration

Find the top 3 most frequent Crm Cd Desc values.

In [18]:
top_crimes = new_df['Crm Cd Desc'].value_counts().nlargest(3)
print(top_crimes)

Crm Cd Desc
VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
Name: count, dtype: int64

Group the data by Hour and count the number of crimes.

In [20]:
hourly_crimes = new_df.groupby('Hour')['DR_NO'].count().reset_index()

hourly_crimes.columns = ['Hour', 'Total_Crimes']

hourly_crimes = hourly_crimes.sort_values(by='Hour')

print(hourly_crimes.head())

   Hour  Total_Crimes
0     0          2025
1     1          1490
2     2          1241
3     3          1063
4     4           975

Group the data by Vict Sex and calculate: Total crimes, Average victim age.

In [ ]:
victim_stats = new_df.groupby('Vict Sex').agg(
    Total_Crimes=('DR_NO', 'count'),
    Avg_Victim_Age=('Vict Age', 'mean')
).reset_index()

print(victim_stats)

Part 4: Advanced Analysis
Create a new column, Severity Score, based on the following rules:
• Assign 5 points if a weapon was used (Weapon Used Cd is not null).
• Assign 3 points for crimes under BURGLARY.
• Assign 1 point for all other crimes.
• Group by AREA NAME and find the total severity score for each area.

In [25]:
def calculate_severity(row):
    if pd.notna(row['Weapon Used Cd']):  # Weapon used
        return 5
    elif row['Crm Cd Desc'] == 'BURGLARY':  # Burglary
        return 3
    else:  # All other crimes
        return 1

# Apply the function to create the Severity Score column
new_df['Severity Score'] = df.apply(calculate_severity, axis=1)

# Group by AREA NAME and sum severity scores
area_severity = new_df.groupby('AREA NAME')['Severity Score'].sum().reset_index()

# Sort by Severity Score in descending order
area_severity = area_severity.sort_values(by='Severity Score', ascending=False)

print(area_severity.head())

      AREA NAME  Severity Score
0   77th Street            9247
1       Central            8541
14    Southeast            7129
15    Southwest            7005
9        Newton            6773

/var/folders/_1/__pt4n2j34s904855v8cbgkr0000gn/T/ipykernel_10320/895384383.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['Severity Score'] = df.apply(calculate_severity, axis=1)

Bonus Part
Use the LAT and LON columns to identify crimes that occurred within a specific latitude-longitude bounding
box (e.g., downtown area).

In [26]:
# Define the latitude and longitude bounding box
lat_min = 34.0
lat_max = 34.1
lon_min = -118.3
lon_max = -118.2

# Filter the dataset based on the LAT and LON columns
crimes_bounding_box = new_df[(new_df['LAT'] >= lat_min) & (new_df['LAT'] <= lat_max) & 
                         (new_df['LON'] >= lon_min) & (new_df['LON'] <= lon_max)]

print(crimes_bounding_box.head())

        DR_NO               Date Rptd   DATE OCC  TIME OCC  AREA   AREA NAME  \
6   200117643  09/08/2020 12:00:00 AM 2020-09-08      1430     1     Central
10  200213278  08/02/2020 12:00:00 AM 2020-08-01       700     2     Rampart
12  202013368  08/12/2020 12:00:00 AM 2020-08-10         1    20     Olympic
14  220210657  05/09/2022 12:00:00 AM 2021-06-01       800     2     Rampart
15  220407368  04/08/2022 12:00:00 AM 2022-04-08      1710     4  Hollenbeck

    Rpt Dist No  Part 1-2  Crm Cd  \
6           185         2     624
10          249         1     420
12         2049         2     649
14          236         1     341
15          499         1     761

                                          Crm Cd Desc  ...  Status Desc  \
6                            BATTERY - SIMPLE ASSAULT  ...  Invest Cont
10    THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)  ...  Invest Cont
12                   DOCUMENT FORGERY / STOLEN FELONY  ...  Invest Cont
14  THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...  ...  Invest Cont
15                                    BRANDISH WEAPON  ...  Invest Cont

    Crm Cd 1                                 LOCATION      LAT       LON  \
6      624.0  1000 S  SANTEE                       ST  34.0378 -118.2561
10     420.0  1100    WILSHIRE                     BL  34.0523 -118.2633
12     649.0          8TH                          ST  34.0577 -118.2842
14     341.0   300 N  BURLINGTON                   AV  34.0678 -118.2654
15     740.0  3600 E  OLYMPIC                      BL  34.0188 -118.2011

    Year Month Day  Hour Severity Score
6   2020     9   8    14              5
10  2020     8   1     7              1
12  2020     8  10     0              1
14  2021     6   1     8              1
15  2022     4   8    17              5

[5 rows x 27 columns]